{{ block styles }}
<style>
    input[type=number] {
        width: 80px;
        text-align: center;
    }
</style>
{{ endblock }}
{{ block title }}
{{ if en }}
Task 3: Guessing stage
{{ elif fr }}
Tâche 3 : Estimation
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if subsession.treatment == INDIVIDUAL }}
        <p>
            {{ if en }}
            You have now completed Task 3. Before proceeding to Part 2, please tell us your guess about the number of
            sliders you successfully moved at the right place in Task 3.
            {{ elif fr }}
            Vous avez terminé la tâche 3. Avant de passer à la Partie 2, veuillez nous indiquer votre
            estimation du nombre de curseurs que vous avez réussi à correctement positionner.
            {{ endif }}
        </p>

        {{ elif subsession.treatment == COOPERATION }}
        <p>
            {{ if en }}
            You have now completed Task 3. Before proceeding to part 2, please tell us your guess about the number of
            sliders the best scorer in your group has successfully moved at the right place in Task 3.
            {{ elif fr }}
            Vous avez terminé la tâche 3. Avant de passer à la partie 2, veuillez nous indiquer votre
            estimation du nombre de curseurs correctement positionnés par le meilleur participant de votre groupe.
            {{ endif }}
        </p>
        {{ endif }}
    </div>
</div>

<div class="d-flex align-items-center mb-3">
    <label for="id_sliders_estimation" class="me-2 mb-0">
        {{ form.sliders_estimation.label }}
    </label>
    {{ form.sliders_estimation }}
</div>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}