{{ block styles }}
<style>
    input[type=number] {
        width: 80px;
        text-align: center;
    }
</style>
{{ endblock }}
{{ block title }}
{{ if en }}
Task 3: Guessing stage
{{ elif fr }}
Nhiệm vụ 3: dự đoán
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if subsession.treatment == INDIVIDUAL }}
        <p>
            {{ if en }}
            You have now completed Task 3. Before proceeding to Part 2, please tell us your guess about the number of
            sliders you successfully moved at the right place in Task 3.
            {{ elif vi }}
            Bạn đã hoàn thành Nhiệm vụ 3. Trước khi chuyển sang giai đoạn tiếp theo, vui lòng cho chúng tôi biết bạn đoán rằng mình đã đặt đúng bao nhiêu thanh trượt trong Nhiệm vụ 3.
            {{ endif }}
        </p>

        {{ elif subsession.treatment == COOPERATION }}
        <p>
            {{ if en }}
            You have now completed Task 3. Before proceeding to part 2, please tell us your guess about the number of
            sliders the best scorer in your group has successfully moved at the right place in Task 3.
            {{ elif vi }}
            Bạn đã hoàn thành Nhiệm vụ 3. Trước khi chuyển sang giai đoạn tiếp theo, 
            vui lòng cho chúng tôi biết bạn đoán rằng nhóm của bạn đã đặt đúng bao nhiêu thanh trượt trong Nhiệm vụ 3.
            {{ endif }}
        </p>
        {{ endif }}
    </div>
</div>

<div class="d-flex align-items-center mb-3">
    <label for="id_sliders_estimation" class="me-2 mb-0">
        {{ form.sliders_estimation.label }}
    </label>
    {{ form.sliders_estimation }}
</div>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
