{{ block styles }}
<style>
    input[type=number] {
        width: 80px;
        text-align: center;
    }
</style>
{{ endblock }}
{{ block title }}
{{ if en }}
Task 1: Guessing stage
{{ elif fr }}
Tâche 1 : Estimation
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if subsession.treatment == INDIVIDUAL }}
        <p>
            {{ if en }}
            You have now completed Task 1. Before proceeding to Task 2, please tell us your guess about the number of
            grids you successfully completed in Task 1.
            {{ elif fr }}
            Vous avez terminé la tâche 1. Avant de passer à la tâche 2, veuillez nous indiquer votre
            estimation du nombre de grilles que vous avez réussi à compléter dans la tâche 1.
            {{ endif }}
        </p>

        {{ elif subsession.treatment == COOPERATION }}
        <p>
            {{ if en }}
            You have now completed Task 1. Before proceeding to Task 2, please tell us your guess about the number of
            grids the best scorer in your group has successfully completed in Task 1.
            {{ elif fr }}
            Vous avez terminé la tâche 1. Avant de passer à la tâche 2, veuillez nous indiquer votre
            estimation du nombre de grilles que le meilleur participant de votre groupe a réussi à compléter dans la
            tâche 1.
            {{ endif }}
        </p>
        {{ endif }}
    </div>
</div>

<div class="d-flex align-items-center mb-3">
    <label for="id_counting_estimation" class="me-2 mb-0">
        {{ form.counting_estimation.label }}
    </label>
    {{ form.counting_estimation }}
</div>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}