{{ block title }}
{{ if vi }}
Bảng câu hỏi kiểm tra mức độ hiểu
{{ elif fr }}
Questionnaire de compréhension
{{ else }}
Understanding Questionnaire
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="text-end mb-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        {{ if fr }} Instructions {{ elif vi }} Hướng dẫn {{ else }} Instructions {{ endif }}
    </button>
</div>

<div class="mb-3">
    {{ for question in understanding }}
    <div class=" form-control mb-1 p-3">
        <p>
            <strong>
                {{ if fr }} Question {{ elif vi }} câu hỏi {{ else }} Question {{ endif }}{{ forloop.counter }}
            </strong> : {{ question.question|safe }}
        </p>
        {{ for prop in question.propositions }}
        <div class="form-check {{ if is_defined('question.horizontal') and question.horizontal }}form-check-inline me-3{{ endif }}">
            <input type="radio" name="q_{{question.question_id}}" value="{{ forloop.counter0 }}"
                   id="{{ question.question_id }}_{{ forloop.counter }}" class="form-check-input" required/>
            <label for="{{ question.question_id }}_{{ forloop.counter }}" class="form-check-label">{{ prop }}</label>
        </div>
        {{ endfor }}
        <p class="form-control-errors" style="display: none;" id="error_{{question.question_id}}">
            {{ if vi }} Đây không phải là câu trả lời chính xác.
            {{ else }} This is not the correct answer.
            {{ endif }}
        </p>
    </div>
    {{ endfor }}
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ for field in form }}
<input type="hidden" name="{{ field.name }}" value="0"/>
{{ endfor }}

{{ include "global/InstructionsModal.html" }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    const questionnaire = js_vars.understanding;

    document.addEventListener('DOMContentLoaded', function () {

        function checkAndSubmit() {
            let allCorrect = true;

            // to select a random answer for a question
            function selectRandomAnswer(question) {
                const options = document.querySelectorAll(`input[name="q_${question.question_id}"]`);
                const randomIndex = Math.floor(Math.random() * options.length);
                options[randomIndex].checked = true;
            }

            // browse all questions to check answers
            questionnaire.forEach(question => {
                const selectedOption = document.querySelector(`input[name="q_${question.question_id}"]:checked`);
                const errorField = document.getElementById(`error_${question.question_id}`);
                const hiddenInput = document.querySelector(`input[name*="q${question.question_id}_faults"]`);

                if (selectedOption) {
                    if (Number(selectedOption.value) !== Number(question.solution)) {
                        // If the answer is incorrect
                        allCorrect = false;
                        hiddenInput.value = parseInt(hiddenInput.value) + 1;
                        errorField.style.display = 'block';

                        // If in automatic mode, select a new random answer
                        if (js_vars.fill_auto) {
                            selectRandomAnswer(question);
                        }
                    } else {
                        // If the answer is correct
                        errorField.style.display = 'none';
                    }
                } else {
                    // if no option is selected
                    allCorrect = false;
                    hiddenInput.value = parseInt(hiddenInput.value) + 1;
                    errorField.style.display = 'block';

                    // if in automatic mode
                    if (js_vars.fill_auto) {
                        selectRandomAnswer(question);
                    }
                }
            });

            // if all answers are correct, submit the form
            if (allCorrect) {
                document.querySelector("form").submit();
            } else {
                // otherwise, if in automatic mode, retry after a delay
                if (js_vars.fill_auto) {
                    setTimeout(checkAndSubmit, 500);
                }
            }
        }

        document.querySelector(".otree-btn-next").addEventListener("click", function (event) {
            event.preventDefault();
            checkAndSubmit();
        });

        if (js_vars.fill_auto)
            fill_auto();
    });
</script>

{{ endblock }}
