{{ block styles }}
<style>
    input[type=number] {
        width: 80px;
        text-align: center;
    }
</style>
{{ endblock }}
{{ block title }}
{{ if en }}
Task 2: Guessing stage
{{ elif vi }}
Nhiệm vụ 2: Ước lượng
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if subsession.treatment == INDIVIDUAL }}
        <p>
            {{ if en }}
            You have now completed Task 2. Before proceeding to Task 3, please tell us your guess about the number of
            operations you successfully completed in Task 2.
            {{ elif vi }}
            Bạn đã hoàn thành nhiệm vụ 2. 
            Trước khi chuyển sang nhiệm vụ 3, vui lòng cho chúng tôi biết ước lượng của bạn về số phép tính mà bạn đã thực hiện thành công trong nhiệm vụ 2.
            {{ endif }}
        </p>

        {{ elif subsession.treatment == COOPERATION }}
        <p>
            {{ if en }}
            You have now completed Task 2. Before proceeding to Task 3, please tell us your guess about the number of
            operations the best scorer in your group has successfully completed in Task 2.
            {{ elif vi }}
            Bạn đã hoàn thành nhiệm vụ 2. Trước khi chuyển sang nhiệm vụ 3, 
            vui lòng cho chúng tôi biết ước lượng của bạn về số phép tính mà người tham gia có kết quả tốt nhất trong nhóm đã thực hiện thành công trong nhiệm vụ 2.
            {{ endif }}
        </p>
        {{ endif }}
    </div>
</div>

<div class="d-flex align-items-center mb-3">
    <label for="id_maths_estimation" class="me-2 mb-0">
        {{ form.maths_estimation.label }}
    </label>
    {{ form.maths_estimation }}
</div>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
