{{ block title }}
{{ if en }}
Task 2: Additions
{{ elif fr }}
Tâche 2 : Additions
{{ endif }}
{{ endblock }}

{{ block content }}
<div class="text-end mb-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        {{ if en }}
        Instructions
        {{ elif fr }}
        Instructions
        {{ endif }}
    </button>
</div>

<div class="card text-justify bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            Select an operation by clicking on the corresponding button, calculate the sum of numbers, enter the value
            in the input widget and click on "Validate". Then click on another operation and repeat the process.
        </p>

        {{ elif fr }}
        <p>
            Sélectionnez une opération en cliquant sur le bouton correspondant, calculez la somme, entrez la valeur
            dans la zone de saisie et cliquez sur "Valider". Ensuite, sélectionnez une autre opération et répétez le
            processus.
        </p>
        {{ endif }}
    </div>
</div>

<div class="text-center mb-3">
    {{ for op in operations }}
    <button type="button" id="id_g_{{forloop.counter}}" class="btn-secondary btn_operation_number mx-1 my-1"
            style="width: 35px"
            onclick="display_operation({{ forloop.counter }})">{{forloop.counter}}
    </button>
    {{ if forloop.counter == 20 or forloop.counter == 40 or forloop.counter == 60 or forloop.counter == 80 }}
    <br>
    {{ endif }}
    {{ endfor }}
</div>

<div class="text-center">
    <h6 class="text-info">
        {{ if en }}
        Operation
        {{ elif fr }}
        Opération
        {{ endif }}
        <span id="operation_number">1</span>
    </h6>
    <div class="text-center mb-3 fs-4">
        {{ for num in operations.0.numbers }}
        <span class="text-center mb-3 operation" style="width: 100px;" id="id_op_{{ forloop.counter }}">{{ num }}</span>
        {{ if forloop.counter < operations.0|length }}
        +
        {{ endif }}
        {{ endfor }}
    </div>
    <div class="text-center mb-3">
        <label for="operation_sum">
            {{ if en }}
            Sum of numbers:
            {{ elif fr }}
            Somme des nombres :
            {{ endif }}
        </label>&nbsp;
        <input type="number" class="form-control d-inline text-center" name="operation_sum" id="operation_sum"
               style="width: 80px;">&nbsp;
        <button type="button" class="btn btn-primary" id="btn_validate" onclick="validate();">
            {{ if en }}
            Validate
            {{ elif fr }}
            Valider
            {{ endif }}
        </button>
    </div>
</div>

<input type="hidden" name="maths_performance" id="id_maths_performance" value="0">

{{ include "global/InstructionsModal.html" }}

{{ endblock }}

{{ block scripts }}
<script>
    const operations = js_vars.operations;
    let current_operation;
    let operation_sum = document.querySelector("#operation_sum");
    let input_score = document.querySelector("#id_maths_performance");


    function display_operation(operation_number) {
        current_operation = operations[operation_number - 1];
        document.querySelector("#operation_number").innerHTML = String(operation_number);
        let operation_numbers = document.querySelectorAll(".operation");
        for (let i = 0; i < operation_numbers.length; i++) {
            operation_numbers[i].innerText = current_operation["numbers"][i];
        }
        operation_sum.value = "";  // clear the input
    }

    function validate() {
        let answer = Number(operation_sum.value);
        if (answer === current_operation["total"])
            input_score.value = Number(input_score.value) + 1
        let the_btn = document.querySelector(`#id_g_${current_operation['number']}`);
        the_btn.classList.remove("bg-secondary");
        the_btn.classList.add("bg-warning");
        the_btn.disabled = true;
        the_btn.setAttribute("title", String(answer));
        operation_sum.value = null;
        current_operation = null;
    }

    function fill_auto() {
        // Sélectionne tous les boutons d'opération
        const btn_operation_number = document.querySelectorAll(".btn_operation_number");

        // Utilise la longueur réelle de la liste des boutons
        let randomIndex = Math.floor(Math.random() * btn_operation_number.length);
        let selectedBtn = btn_operation_number[randomIndex];

        // Vérifie si le bouton est actif (pas encore validé)
        if (!selectedBtn.disabled) {
            selectedBtn.click();

            // Vérifie que l'opération est bien chargée dans la variable globale
            if (current_operation) {
                // Simule une réponse (50% de chance de réussite)
                operation_sum.value = Math.random() <= 0.5 ? current_operation["total"] : Math.floor(Math.random() * 101);

                // Valide
                document.querySelector("#btn_validate").click();
            }
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        display_operation(1);
        const otree_timer = document.querySelector(".otree-timer");
        otree_timer.classList.remove("alert", "alert-warning");
        otree_timer.style.color = "DarkGoldenrod";

        // la touche "Entrée" ne valide pas l'opération
        document.querySelector("#operation_sum").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
            }
        });

        if (js_vars.fill_auto) {
            setInterval(() => {
                fill_auto();
            }, Math.floor(Math.random() * 10000));
        }
    });

</script>
{{ endblock }}
