{{ block title }}
{{ if en }}
Part 2: Stealing Decision
{{ elif vi }}
Phần 2: Quyết định ăn cắp ECU
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="text-end mb-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        {{ if en }}
        Instructions
        {{ elif vi }}
        Hướng dẫn
        {{ endif }}
    </button>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            As a <b>Red Player</b> you have to decide whether you want to steal ECU from the Passive group.
        </p>
        <p class="text-muted">
            As a reminder, if you steal ECU, one of the two Blue Players's decisions will be randomly chosen and
            implemented. If the selected Blue Player decided to report, you will have a probability of
            {{ AUDIT_PROBABILITY_STR }} to be punished. If you are punished you will pay a penalty of
            {{ STEALING_PENALTY }} ECU.
        </p>

        {{ elif vi }}
        <p>
            Là <b>Người chơi đỏ</b>, bạn phải quyết định xem bạn có muốn ăn cắp ECU từ nhóm Thụ Động hay không.
        </p>
        <p class="text-muted">
            Xin nhắc lại, nếu bạn ăn cắp ECU, một trong hai quyết định của người chơi Xanh sẽ được chọn ngẫu nhiên và thực hiện.
            Nếu người chơi Xanh được chọn đã quyết định báo cáo, bạn sẽ có xác suất {{ AUDIT_PROBABILITY_STR }} bị phạt.
            Nếu bạn bị phạt, bạn sẽ phải trả một khoản phạt là {{ STEALING_PENALTY }} ECU.
        </p>
        {{ endif }}
    </div>
</div>

{{ formfield "taking_decision" label=taking_decision_label }}

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ include "global/InstructionsModal.html" }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
