{{ block styles }}
<link rel="stylesheet" href="{{ static 'global/sliders.css' }}">
{{ endblock }}

{{ block title }}
{{ if en }}
Part 2: Reporting estimation
{{ elif vi }}
Phần 2: Ước lượng việc báo cáo
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="text-end mb-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        {{ if en }}
        Instructions
        {{ elif vi }}
        Hướng dẫn
        {{ endif }}
    </button>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            What do you think is the likelihood that one of the Blue Players would report a Red Player’s decision to
            steal ECU from the Passive Group? Please indicate your response on the scale below, where 0% means there is
            no chance that a Blue Player would report, 100% means you are certain that a Blue Player would report a Red
            Player who steals, and values in between indicate that you believe there is some chance that a Blue Player
            would report.
        </p>
        {{ elif vi }}
        <p>
            Khả năng một trong các người chơi Xanh báo cáo quyết định của một người chơi Đỏ ăn cắp ECU từ nhóm Thụ Động là bao nhiêu?
            Vui lòng cho biết câu trả lời của bạn trên thang đo bên dưới, trong đó: <br>
            - 0% có nghĩa là không có khả năng nào người chơi Xanh sẽ báo cáo, <br>
            - 100% có nghĩa là bạn chắc chắn rằng một người chơi Xanh sẽ báo cáo người chơi Đỏ đang ăn cắp, <br>
            - và các giá trị ở giữa cho thấy bạn nghĩ rằng có một mức độ khả năng nhất định người chơi Xanh sẽ báo cáo.
        </p>
        {{ endif }}
    </div>
</div>

<label for="id_estimation_reporting" class="col-form-label">
    {{ fields_labels.estimation_reporting }}
    <span class="fw-bold"><output id="id_estimation_reporting_output" class="ms-1">---</output>&nbsp;%</span>
</label>
<div class="mb-3" style="width: 75%">
    <input type="range" name="estimation_reporting" id="id_estimation_reporting"
           min="0" max="100" step="1" style="width: 100%" value="0" class="untouched"
            oninput="id_estimation_reporting_output.value=this.value">
    <div class="ticks mt-0">
        <span>0</span><span>100</span>
    </div>
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

<p class="text-danger visually-hidden mt-3">
    {{ if en }}
    Please move the cursor before proceeding.
    {{ elif fr }}
    Veuillez déplacer le curseur avant de continuer.
    {{ elif vi }}
    Vui lòng di chuyển con trỏ trước khi tiếp tục.
    {{ endif }}
</p>


{{ include "global/InstructionsModal.html" }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
                const inputElements = document.querySelectorAll('input[type=range]');
        const btn_next = document.querySelector('.otree-btn-next');
        const errorMsg = document.querySelector('.text-danger');

        inputElements.forEach((input) => {
            input.addEventListener("input", () => {
                input.classList.remove("untouched");
                errorMsg.classList.add('visually-hidden');
            });
        });

        btn_next.addEventListener("click", (event) => {
            const invalidInput = Array.from(inputElements).find(input => input.classList.contains("untouched"));
            if (invalidInput) {
                event.preventDefault();
                errorMsg.classList.remove('visually-hidden');
                invalidInput.focus();
                setTimeout(() => {
                    errorMsg.classList.add('visually-hidden');
                }, 3000);
            }
        });

        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
