{{ block title }}
{{ if en }}
End of Part 2
{{ elif vi }}
Kết thúc Phần 2
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            You have completed Part 2 of the experiment. Results will be displayed at the end of the experiment.
        </p>
        {{ elif vi }}
        <p>
            Bạn đã hoàn thành phần 2 của thí nghiệm. Kết quả sẽ được hiển thị vào cuối thí nghiệm.
        </p>
        {{ endif }}
    </div>
</div>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
