{{ block title }}
{{ if en }}
End of Part 2
{{ elif fr }}
Fin de la Partie 2
{{ elif vi }}
Kết thúc Phần 2
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        <p>
            {{ if en }}
            You have completed Part 2 of the experiment. Results will be displayed at the end of the experiment.
            {{ elif fr }}
            Vous avez terminé la partie 2 de l'expérience. Les résultats seront affichés à la fin de l'expérience.
            {{ elif vi }}
            Bạn đã hoàn thành phần 2 của thí nghiệm. Kết quả sẽ được hiển thị vào cuối thí nghiệm.
            {{ endif }}
        </p>
    </div>
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
