{{ block title }}
{{ if en }}
Part 2: Information about your group
{{ elif fr }}
Partie 2 : Informations sur votre groupe
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="text-end mb-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        {{ if en }}
        Instructions
        {{ elif fr }}
        Instructions
        {{ endif }}
    </button>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            {{ if group.active }}
            Your group have been randomly assigned to an <b>Active Group</b>.
            As a reminder, in each active group, players are assigned the following roles: One Red Player, and Two Blue
            Players. You have been randomly assigned to the role of
            {{ if player.taker }}
            <b>Red Player</b>.
            {{ else }}
            <b>Blue Player</b>.
            {{ endif }}
            {{ else }}
            Your group have been randomly assigned to an <b>Inactive Group</b>.
            {{ endif }}
        </p>
        {{ elif fr }}
        <p>
            {{ if group.active }}
            Votre groupe a été assigné aléatoirement à un <b>Groupe Actif</b>.
            Pour rappel, dans chaque groupe actif, les joueurs sont assignés aux rôles suivants : Un Joueur Rouge et
            Deux Joueurs Bleus. Vous avez été assigné au rôle de
            {{ if player.taker }}
            <b>Joueur Rouge</b>.
            {{ else }}
            <b>Joueur Bleu</b>.
            {{ endif }}
            {{ else }}
            Votre groupe a été assigné aléatoirement à un <b>Groupe Inactif</b>.
            {{ endif }}
        </p>
        {{ endif }}
    </div>
</div>

{{ next_button }}

{{ include "global/InstructionsModal.html" }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}