{{ block title }}
{{ if en }}
Part 2: Information about your group
{{ elif vi }}
Phần 2: Thông tin về nhóm của bạn
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="text-end mb-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        {{ if en }}
        Instructions
        {{ elif vi }}
        Hướng dẫn
        {{ endif }}
    </button>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            {{ if group.active }}
            Your group have been randomly assigned to an <b>Active Group</b>.
            As a reminder, in each active group, players are assigned the following roles: One Red Player, and Two Blue
            Players. You have been randomly assigned to the role of
            {{ if player.taker }}
            <b>Red Player</b>.
            {{ else }}
            <b>Blue Player</b>.
            {{ endif }}
            {{ else }}
            Your group have been randomly assigned to an <b>Inactive Group</b>.
            {{ endif }}
        </p>
        {{ elif vi }}
        <p>
            {{ if group.active }}
            Nhóm của bạn đã được phân vào một <b>Nhóm Chủ động (Groupe Actif) một cách ngẫu nhiên.</b>
            Xin nhắc lại, trong mỗi nhóm chủ động, người chơi được phân vào các vai trò sau: Một Người chơi Đỏ và Hai
            Người chơi Xanh. Bạn đã được phân vào vai trò:

            {{ if player.taker }}
            Người chơi Đỏ (Joueur Rouge).
            {{ else }}
            Người chơi Xanh (Joueur Bleu).
            {{ endif }}

            {{ else }}
            Nhóm của bạn đã được phân vào một Nhóm Thụ động (Groupe Inactif) một cách ngẫu nhiên.
            {{ endif }}
        </p>
        {{ endif }}
    </div>
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ include "global/InstructionsModal.html" }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
