{{ if en }}
<section lang="en">
    <article class="mb-4" data-description="intro">
        <p><b>The composition of the groups is identical</b> to that of Part 1. </p>
        <p>
            The computer program will randomly select one group from
            all groups in this room. This group will be referred to as the <b><i>Passive</i></b> group.
            The remaining groups will be referred to as the <b><i>Active</i></b> groups.
        </p>
        <p>
            The final individual gains for members of the <i>Passive</i> group will depend on their Part 1 gains and the
            decisions made by members of the <i>Active</i> groups in Part 2.
            Since members of the <i>Passive</i> group will not make any active
            decisions in this part, the instructions below are specifically for members of the <i>Active</i> groups.
            <br>
            Once all participants have read these instructions, you will be informed <b>whether you are in the
            <i>Passive</i> group or one of the <i>Active</i> groups</b>.
        </p>
    </article>

    <article class="mb-4" data-description="roles">
        <h5>Roles and Decisions in the Active Groups</h5>
        <p>
            In each <i>Active</i> group, the computer program randomly assigns roles to players.
            There will be <b>one Red Player and two Blue Players</b>.
        </p>
        <p>
            The Red Player has the option to <b>increase his/her earnings by stealing ECU</b>
            from the <i>Passive</i> group. Specifically,
            the Red Player faces a binary decision: to steal or not to steal ECU from the Passive Group.
        </p>
        <p>
            <span class="text-decoration-underline">Here’s how it works:</span> <br>
            If the Red Player decides to steal ECU, they <b>gain {{ STEALING_AMOUNT }} ECU</b>, while the
            <i>Passive</i> group <b>loses {{ STEALING_LOSS }} ECU</b> in total.
            This means each member of the <i>Passive</i> group loses {{ STEALING_LOSS_INDIV }} ECU
            ({{ STEALING_LOSS_INDIV }} ECU x {{ PLAYERS_PER_GROUP }} = {{ STEALING_LOSS }} ECU).
            If the Red Player does not steal ECU, no changes occur, and all participants’ earnings remain the same as
            their Part 1 gains.
        </p>
        <p>
            Stealing is subject to a <b>penalty of {{ STEALING_PENALTY}} ECU</b>. However, a Red Player who decides to
            steal may incur the penalty only when reported by one of the Blue Players, and even then the penalty is not
            guaranteed.
        </p>
    </article>

    <article class="mb-4" data-description="reporting">
        <h5>Reporting Rules</h5>
        <p>
            Each <i>Active</i> group’s Blue Players will decide whether to report the Red Player in their group if the
            Red Player decides to steal ECU from the <i>Passive</i> group. If the Red Player does not steal, no
            reporting takes place. Reporting is anonymous and submitted to the experimenter.
        </p>
        <p>
            If a Blue Player decides to report the Red Player, and the Red Player has stolen ECU,
            the Blue Player incurs a <b>reporting cost of {{ REPORTING_COST }} ECU</b>
            (deducted from their part 1 gains).
        </p>
        <ul>
            <li>
                <u>If the Red Player has stolen ECU:</u> <br>
                <ul>
                    <li>The Blue Player who reported incurs the <b>reporting cost of {{ REPORTING_COST }} ECU</b>.</li>
                    <li>The reported Red Player incurs a <b>penalty of {{ STEALING_PENALTY}} ECU</b> with a probability
                        of {{ AUDIT_PROBABILITY_STR }} (deducted from their part 1 gains and the {{ STEALING_AMOUNT }}
                        ECU they stole) and incurs no penalty with a probability of {{ NON_AUDIT_PROBABILITY_STR }}.
                    </li>
                    {{ if subsession.reward }}
                    <li>If the Red Player is penalized, the Blue Player receives a <b>reporting reward of
                        {{ REPORTING_REWARD }} ECU</b>.
                    </li>
                    {{ endif }}
                </ul>
            </li>
            <li>
                <u>If Red Player did not steal ECU:</u> <br>
                <ul>
                    <li>There is <b>no report</b> from the Blue Players.</li>
                    <li>There is <b>no penalty</b> for the Red Player.</li>
                </ul>
            </li>
        </ul>
    </article>

    <article class="mb-4" data-description="randomization">
        <h5>Randomized Reporting</h5>
        <p>
            If the Red Player has stolen ECU, <b>one Blue Player’s decision</b> (to report or not) will be randomly
            selected by the computer program.
        </p>
        <ul>
            <li>If the selected decision is to report, the Blue player incurs the
                reporting cost and the Red Player is reported.
            </li>
            <li>If the selected decision is to not report, the Red Player is not reported.</li>
        </ul>
        <p>
            The non-selected Blue Player’s decision has no effect. <br>
            If the Red Player has not stolen ECU, no action is taken.
        </p>
    </article>

    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h5>Summary of Key Points</h5>
        </div>
        <div class="card-body">
            <p>
                One group will be randomly selected as the <i>Passive group</i>.
                All other groups are <i>Active groups</i>. <br>
                In each active group:
            </p>
            <ul>
                <li>One participant is the Red Player and two participants are the Blue Players.</li>
                <li>
                    The Red Player decides whether to steal ECU from the passive group (Stealing adds
                    {{ STEALING_AMOUNT }} ECU to the Red Player’s earnings and deducts {{ STEALING_LOSS }} ECU
                    from the passive group).
                </li>
                <li>
                    Blue Players decide whether to report the Red Player if they steal ECU.
                </li>
                <li>If the Red Player has stolen ECU:
                    <ul>
                        <li>The computer randomly selects one Blue Player’s decision to implement.</li>
                        <li>
                            If the selected Blue Player’s decision is to report, they incur a cost of
                            {{ REPORTING_COST }} ECU. The Red Player incurs a penalty of {{
                            STEALING_PENALTY }} ECU with a probability of {{ AUDIT_PROBABILITY_STR }} and
                            is not penalized with a probability of {{ NON_AUDIT_PROBABILITY_STR }}.
                            {{ if subsession.reward }}
                            If the Red Player is penalized, the Blue Player receives a reward of
                            {{ REPORTING_REWARD }} ECU.
                            {{ endif }}
                        </li>
                        <li>If the selected Blue Player's decision is to not report, the Red Player is not
                            reported.
                        </li>
                    </ul>
                </li>
                <li>
                    If the Red Player has not stolen ECU, nothing happens (no reporting).
                </li>
            </ul>
        </div>
    </div>
</section>

{{ elif vi }}
<section lang="vi">
    <article class="mb-4" data-description="intro">
        <p><b>Nội dung của các nhóm là như nhau</b> như ở phần 1.</p>
        <p>
            Chương trình máy tính sẽ chọn ngẫu nhiên một nhóm trong số tất cả các nhóm có mặt trong phòng này. Nhóm đó
            sẽ được chỉ định là nhóm <b><i>Thụ động</i></b>.
            Những nhóm khác sẽ là nhóm <b><i>Chủ động</i></b>.
        </p>
        <p>
            Thu nhập cuối cùng của các thành viên trong nhóm<i>Thụ động</i> sẽ phụ thuộc vào thu nhập của họ ở phần 1 và
            các quyết định được đưa ra bởi các thành viên của các nhóm <i>Chủ động</i> trong phần 2.
            Vì các thành viên của nhóm <i>Bị động</i> sẽ không đưa ra bất kỳ quyết định nào trong phần này, nên các
            hướng dẫn dưới đây chỉ áp dụng cho các thành viên của các nhóm <i>Chủ động</i>.
            <br>
            Khi tất cả người tham gia đã đọc xong các hướng dẫn này, bạn sẽ được thông báo…
            <b> rằng bạn thuộc nhóm <i>Chủ động</i> hay thuộc nhóm <i>Bị động</i></b>.
        </p>
    </article>

    <article class="mb-4" data-description="roles">
        <h5>Vai trò và quyết định trong các Nhóm Chủ Động</h5>
        <p>
            Trong mỗi nhóm Chủ Động <i>(Actif)</i>, chương trình máy tính sẽ phân vai cho người chơi một cách ngẫu
            nhiên.
            Sẽ có <b>một người chơi Đỏ và hai người chơi Xanh</b>.
        </p>
        <p>
            Người chơi Đỏ có khả năng <b>tăng tiền thửơng của mình bằng cách lấy cắp ECU</b> từ nhóm <i>Thụ động</i>.
            Cụ thể, người chơi Đỏ phải đưa ra một quyết định nhị phân: lấy cắp hoặc không lấy cắp ECU từ nhóm Thụ động.

        </p>
        <p>
            <span class="text-decoration-underline">Cách thức hoạt động :</span> <br>
            Nếu người chơi Đỏ quyết định lấy cắp ECU, anh ta/ cô ta <b>nhận được {{ STEALING_AMOUNT }} ECU </b>,
            trong khi nhóm <i>Thụ động</i> <b>mất tổng cộng {{ STEALING_LOSS }} ECU</b>.

            Điều đó có nghĩa là mỗi thành viên của nhóm Thụ động mất {{ STEALING_LOSS_INDIV }} ECU
            ({{ STEALING_LOSS_INDIV }} ECU × {{ PLAYERS_PER_GROUP }} = {{ STEALING_LOSS }} ECU).

            Nếu người chơi Đỏ không lấy cắp, thì không có sự thay đổi nào xảy ra và thu nhập của tất cả người tham gia
            vẫn giữ nguyên như ở phần 1.

        </p>
        <p>
            Hành vi lấy cắp chịu <b>một khoản phạt {{ STEALING_PENALTY }} ECU</b>.
            Tuy nhiên, một người chơi Đỏ quyết định lấy cắp chỉ bị phạt nếu bị một trong các người chơi Xanh tố giác,
            và ngay cả khi bị tố giác, khoản phạt này cũng không phải lúc nào cũng chắc chắn xảy ra.

        </p>
    </article>

    <article class="mb-4" data-description="reporting">
        <h5>Luật báo cáo</h5>
        <p>
            Trong nhóm <i>Chủ động</i>, Người chơi Xanh phải quyết định xem họ có muốn tố giác người chơi Đỏ
            trong trường hợp người chơi Đỏ quyết định lấy cắp ECU từ nhóm <i>Thụ động</i> hay không.
            Việc tố giác được thực hiện ẩn danh và gửi cho người phụ trách thí nghiệm.
            Nếu người chơi Đỏ không lấy cắp, thì không có tố giác nào.
        </p>
        <p>
            If a Blue player decides to report the Red player and the Red player has stolen ECUs,
            the Blue player pays a reporting cost of {{ REPORTING_COST }} ECUs
            (which is deducted from their Part 1 earnings).
        </p>
        <ul>
            <li>
                <u>Nếu người chơi Đỏ đã lấy cắp ECU :</u> <br>
                <ul>
                    <li>Người chơi Xanh người tố giác phải trả <b>chi phí tố giác là {{ REPORTING_COST }} ECU</b>.</li>
                    <li>NGười chơi đỏ bị tố giác sẽ bị phạt <b>một khoản phạt là{{ STEALING_PENALTY }} ECU</b> Với một
                        khả năng là {{ AUDIT_PROBABILITY_STR }} (déduite de ses gains de la partie 1 et des
                        {{ STEALING_AMOUNT }} ECU bị ăn cắp), hoặc không bị phạt gì cả với khả năng là
                        {{ NON_AUDIT_PROBABILITY_STR }}.
                    </li>
                    {{ if subsession.reward }}
                    <li>Nếu người chơi đỏ bị phạt, người chơi xanh sẽ <b>được bồi thường
                        {{ REPORTING_REWARD }} ECU</b>.
                    </li>
                    {{ endif }}
                </ul>
            </li>
            <li>
                <u>Nếu người chơi Đỏ không lấy cắp ECU:</u> <br>
                <ul>
                    <li>Không có <b>tố cáo nào</b> từ người chơi Xanh.</li>
                    <li>Không có <b>hình phạt nào</b> cho người chơi Đỏ.</li>
                </ul>
            </li>
        </ul>
    </article>

    <article class="mb-4" data-description="randomization">
        <h5>Tố giác ngẫu nhiên</h5>
        <p>
            Nếu người chơi Đỏ đã lấy cắp ECU, quyết định của một người chơi Xanh duy nhất
            (tố giác hay không) trong nhóm sẽ được chọn ngẫu nhiên bởi chương trình máy tính.
        </p>
        <ul>
            <li>
                Nếu quyết định được chọn là tố giác, thì người chơi Xanh trả chi phí tố giác
                và người chơi Đỏ bị tố giác.
            </li>
            <li>
                Nếu quyết định được chọn là không tố giác, thì người chơi Đỏ không bị tố giác.
            </li>
        </ul>
        <p>
            Quyết định của người chơi Xanh không được chọn thì không có tác dụng gì.
            Nếu người chơi Đỏ không lấy cắp ECU, thì không có gì xảy ra.
        </p>
    </article>

    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h5>Tóm tắt các điểm chính</h5>
        </div>
        <div class="card-body">
            <p>
                Một nhóm sẽ được chọn ngẫu nhiên làm nhóm Thụ động.
                Tất cả các nhóm còn lại sẽ là các nhóm Chủ động.
                Trong mỗi nhóm Chủ động:
            </p>
            <ul>
                <li>Một người tham gia là người chơi Đỏ và hai người tham gia là người chơi Xanh.</li>
                <li>
                    Người chơi Đỏ quyết định có muốn lấy cắp ECU từ nhóm Thụ động hay không
                    (lấy cắp sẽ tăng thêm {{ STEALING_AMOUNT }} ECU vào thu nhập của anh ta và làm mất {{ STEALING_LOSS
                    }} ECU của nhóm Thụ động).
                </li>
                <li>
                    Người chơi Xanh quyết định xem họ có muốn tố giác người chơi Đỏ nếu anh ta lấy cắp ECU hay không.
                </li>
                <li>
                    Nếu người chơi Đỏ lấy cắp ECU :
                    <ul>
                        <li>Chương trình chọn ngẫu nhiên quyết định của một trong hai người chơi Xanh.</li>
                        <li>
                            Nếu quyết định được chọn là tố giác, người chơi Xanh trả chi phí {{ REPORTING_COST }} ECU.
                            Người chơi Đỏ chịu một khoản phạt {{ STEALING_PENALTY }} ECU với xác suất {{
                            AUDIT_PROBABILITY_STR }},
                            và không bị phạt với xác suất {{ NON_AUDIT_PROBABILITY_STR }}.
                            {{ if subsession.reward }}
                            Nếu người chơi Đỏ bị phạt, người chơi Xanh nhận được một phần thưởng {{ REPORTING_REWARD }}
                            ECU.
                            {{ endif }}
                        </li>
                        <li>
                            Nếu quyết định được chọn là không tố giác, thì người chơi Đỏ không bị tố giác.
                        </li>
                    </ul>
                </li>
                <li>
                    Nếu người chơi Đỏ không lấy cắp ECU, thì không có gì xảy ra (không có tố giác nào).
                </li>
            </ul>
        </div>
    </div>
</section>
{{ endif }}
