{{ block styles }}
<style>
    textarea {
        height: 200px;
    }
</style>
{{ endblock }}

{{ block title }}
{{ if en }}
Part 2: Questionnaire
{{ elif vi }}
Phần 2: Bảng câu hỏi
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            Thanks for answering the questions below related to the game you just participated in.
        </p>
        {{ elif vi }}
        <p>
            Cảm ơn bạn đã trả lời các câu hỏi dưới đây liên quan đến trò chơi mà bạn vừa tham gia.
        </p>
        {{ endif }}
    </div>
</div>

<div class="mb-3">
    {{ for field, field_label in fields_labels.items }}
    <div class="form-control mb-1">
        {{ formfield field label=field_label|safe }}
    </div>
    {{ endfor }}
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
