{{ block title }}
<style>
    th.width_perso {
        width: 100px;
        text-align: center;
    }
</style>
{{ endblock }}

{{ block content }}

<div class="form-control mb-3">
    <p>
        {{ if en }}
        Here are possible behaviors that experts say would help reduce greenhouse gas emissions. To what extent would
        you be willing to ...
        {{ elif fr }}
        Voici des comportements que les experts disent pouvoir aider à réduire les émissions de gaz à effet de serre.
        Dans quelle mesure seriez-vous prêt(e) à &hellip;
        {{ elif vi }}
        Dưới đây là một số hành vi mà các chuyên gia cho rằng sẽ giúp giảm phát thải khí nhà kính. Bạn sẵn sàng thực hiện những điều sau ở mức độ nào…?
        {{ endif }}
    </p>
    <table class="table table-sm">
        <thead>
        <tr>
            <th></th>
            <th class="width_perso">
                {{ if en }} Not at all
                {{ elif fr }} Pas du tout
                {{ elif vi }} Không hề
                {{ endif }}
            </th>
            <th class="width_perso"></th>
            <th class="width_perso">
                {{ if en }}
                Moderately
                {{ elif fr }} Modérément
                {{ elif vi }} Ở mức độ vừa phải
                {{ endif }}
            </th>
            <th class="width_perso"></th>
            <th class="width_perso">
                {{ if en }} A great deal
                {{ elif fr }} Énormément
                {{ elif vi }} Rất nhiều
                {{ endif }}
            </th>
        </tr>
        </thead>
        <tbody>
        {{ for field, field_label in fields_labels.items }}
        <tr>
            <td>{{ field_label|safe }}</td>
            {{ for i in range(-2, 3) }}
            <td class="text-center">
                <input type="radio" class="form-check-input" name="{{ field }}" value="{{ i }}" required>
            </td>
            {{ endfor }}
        </tr>
        {{ endfor}}
        </tbody>
    </table>
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
