{{ block title }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            This is your answer to the question on <i>what you think your country's government should do regarding
            climate
            change</i>:
        </p>
        {{ elif fr }}
        <p>
            Voici votre réponse à la question sur <i>ce que vous pensez que le gouvernement de votre pays devrait faire
            concernant le changement climatique</i> :
        </p>
        {{ elif vi }}
        <p>
            Đây là câu trả lời của bạn cho câu hỏi về <i>bạn nghĩ chính phủ quốc gia của bạn nên làm gì về biến đổi khí
            hậu</i>:
        </p>
        {{ endif }}

        <div class="form-control mb-1">
            {{ player.policy_narrative }}
        </div>
    </div>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        <p>
            {{ if en }}
            Based on your answer, to what extent do you agree or disagree with the following statement?
            {{ elif fr }}
            En vous basant sur votre réponse, dans quelle mesure êtes-vous d'accord ou pas d'accord avec l'énoncé
            suivant ?
            {{ elif vi }}
            Dựa trên câu trả lời của bạn, bạn đồng ý hay không đồng ý với tuyên bố sau ở mức độ nào?
            {{ endif }}
        </p>
        {{ formfield "expectations_policy_economy" label=fields_labels.expectations_policy_economy}}
        {{ formfield "expectations_policy_cc" label=fields_labels.expectations_policy_cc}}
        {{ formfield "expectations_policy_household" label=fields_labels.expectations_policy_household}}
    </div>
</div>
<div class="card bg-light mb-3">
    <div class="card-body">
        {{ formfield "agreement_policy" label=fields_labels.agreement_policy }}
    </div>
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();

        // Disable paste for the policy field
        const narrField = document.getElementById('id_policy_narrative');
        if (narrField) {
            narrField.addEventListener('paste', function (e) {
                e.preventDefault();
            });
        }
    });
</script>

{{ endblock }}