{{ block title }}
{{ if fr }} Kết thúc thí nghiệm {{ elif en }} End of the experiment {{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
    {{ include final_template_path }}
    </div>
</div>

<p class="text-muted mb-3">
    {{ if fr }}
    Thanh toán của bạn sẽ được thực hiện bằng chuyển khoản ngân hàng thông qua nền tảng S2C2H của CNRS. <br>
    Vui lòng nhấp vào nút bên dưới để điền vào biểu mẫu thanh toán thu nhập của bạn.
Nếu bạn có bất kỳ câu hỏi nào, đừng ngần ngại liên hệ với người phụ trách thí nghiệm.
    {{ elif en }}
    Your payment will be made by bank transfer via the CNRS S2C2H platform. <br>
    Please click on the button below to fill out the form for the payment of your earnings. <br>
    If you have any questions, do not hesitate to contact the experimenter.
    {{ endif }}
</p>
<button type="button" class="btn btn-outline-primary" id="btn_payment">
    {{ if fr }}
    Điền vào mẫu thanh toán
    {{ elif en }}
    Fill out the form for payment
    {{ endif }}
</button>

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/s2c2h.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#btn_payment').addEventListener('click', () => {
            fill_payment_form();
        });
    });
</script>

{{ endblock }}
