{{ block styles }}
<style>
    body {
        background-color: var(--bs-light);
    }
</style>
{{ endblock }}

{{ block title }}
{{ if is_defined('instructions_template_title') }}
{{ instructions_template_title }}
{{ else }}
Instructions
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="progress mb-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"
         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<p class="fw-bold text-muted mb-3 fs-5">
    {{ if is_defined('instructions_wait_text') }}
    {{ instructions_wait_text }}
    {{ else }}
    {{ if fr }}
    En attente des autres participants.
    {{ else }}
    Waiting for the other participants.
    {{ endif }}
    {{ endif }}

</p>

<div class="card mb-3">
    <div class="card-body">
        {{ include instructions_template_path }}
    </div>
</div>

{{ endblock }}


