{{ block styles }}
<style>
    body {
        background-color: var(--bs-light);
    }
</style>
{{ endblock }}

{{ block title }}
{{ if vi }}
Vui lòng đợi &hellip;
{{ else }}
Please wait &hellip;
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="progress mb-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"
         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<p class="fw-bold text-muted mb-3 fs-5">
    {{ if fr }}
    Vui lòng đợi những người tham gia khác.
    {{ else }}
    Waiting for the other participants.
    {{ endif }}
</p>

<div class="card mb-3">
    <div class="card-body">
        {{ include instructions_template_path }}
    </div>
</div>

{{ endblock }}


