{{ block title }}
{{ if en }}
Part 1
{{ elif vi }}
Phần 1
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <article lang="en">
            <p>
                In Part 1, the computer program will create <b>groups of {{ C.PLAYERS_PER_GROUP }} at random</b>.
                You will not be able to identify the other members of your group and they will not be able to identify
                you.
            </p>
            <p>
                Each group member will be offered to complete <b>3 tasks</b>.
                At the end, <b>one of the 3 tasks will be randomly selected</b> and your gain for Part 1 will be equal
                to your gain in that task. You will be informed about the task that counts for payment and your gain in
                that task at the very end of the experiment.
            </p>
        </article>

        {{ elif vi }}
        <article lang="fr">
            <p>
                Trong Phần 1, chương trình sẽ tự động chia thành các nhóm gồm <b>{{ C.PLAYERS_PER_GROUP }}</b> người.
                Bạn sẽ không biết các thành viên khác là ai và họ cũng sẽ không biết bạn là ai.
            </p>
            <p>
                Mỗi thành viên trong nhóm sẽ hoàn thành <b>3 nhiệm vụ</b>. cuối phần này, <b>một trong 3 nhiệm vụ sẽ
                được lụa chọn ngẫu nhiên bởi chương trình</b>, và số tiền bạn nhận trong Phần 1 sẽ bằng với số tiền kiếm
                được trong nhiệm vụ được chọn đó. Bạn sẽ
                được thông báo nhiệm vụ nào được tính để trả tiền và số tiền bạn nhận trong nhiệm vụ đó vào cuối thí
                nghiệm.

            </p>
        </article>
        {{ endif }}
    </div>
</div>

{{ if vi }}
<button class="btn btn-primary otree-btn-next">Tiếp tục</button>
{{ else }}
{{ next_button }}
{{ endif }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
