{{ block styles }}
<style>
    img {
        height: 75px;
    }
</style>
{{ endblock }}

{{ block title }}
{{ if en }}
Welcome
{{ elif vi }}
Xin Chào
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <article lang="en">
            <p>
                You are invited to take part in a <b>research study about individual and group decision-making</b>.
                Your participation will help us better understand how people interact with group members and authorities
                in
                various situations.
            </p>
            <p>
                Your participation is entirely voluntary. If you agree to participate, you will receive a <b>fixed fee
                of
                {{ session.config.participation_fee }} plus a bonus</b> depending on your decisions and
                the decisions of other participants.
                The experiment will take approximately one hour of your time.
            </p>
            <p>
                There are no foreseeable risks associated with participating in this study. You are free to withdraw at
                any
                time, for any reason, without penalty.
                Please note, however, that since this is a group experiment, your withdrawal may affect the
                participation
                of other group members.
            </p>

            <h5>Confidentiality and Data Protection</h5>
            <p>
                All data collected in this study will be processed strictly for scientific purposes. Your responses will
                remain <b>completely anonymous and confidential</b>. No personally identifiable
                information will be collected or linked to your decisions in the experiment.
                There will be no data transfer outside the European Union.
            </p>
            <p>
                The data controller is Dimitri Dubois (CEE-M, CNRS, University of Montpellier, France). Data
                recipients include: Rustam Romaniuc (MBS Montpellier Business School), Dimitri Dubois
                (CNRS, University of Montpellier) and Andrea Guido (PSB Paris School of Business).
            </p>
            <p>
                You have the right to access your data, to request correction or deletion of your data, to restrict or
                object to the processing of your data, and to request data portability. <br>
                To exercise these rights, you can contact Dimitri Dubois at: dimitri.dubois@umontpellier.fr.
            </p>
            <p>
                This study is funded by the French National Research Agency (ANR), grant number
                ANR-21-CE26-0016. For any questions about the study, please contact Rustam Romaniuc at
                r.romaniuc@mbs-education.com.
            </p>
        </article>

        {{ elif vi }}
        <article lang="fr">
            <p>
            Bạn được mời tham gia vào một nghiên cứu về việc ra quyết định cá nhân và tập thể. 
                Sự tham gia của bạn sẽ giúp hiểu rõ hơn cách mọi người tương tác với các thành viên trong nhóm của mình,
                và với các cơ quan có thẩm quyền trong nhiều tình huống khác nhau.
            </p>
            <p>
                Sự tham gia của bạn hoàn toàn mang tính tự nguyện. Nếu bạn đồng ý tham gia, bạn sẽ nhận được một khoản thù lao cố định
                <b>{{ session.config.participation_fee }}</b>, cũng như một khoản thưởng phụ thuộc vào các quyết định của bạn và của những người tham gia khác.
                Buổi thực nghiệm sẽ kéo dài khoảng một giờ.
            </p>
            <p>
                Đây là một buổi thử nghiệm không có bất kỳ rủi ro nào. 
                Bạn hoàn toàn có thể rút lui bất cứ lúc nào, vì bất kỳ lý do gì, mà không phải chịu bất kỳ hình phạt nào.
                Tuy nhiên, xin lưu ý rằng vì đây là một thí nghiệm theo nhóm, nên việc bạn rút lui có thể ảnh hưởng đến sự tham gia của các thành viên khác trong nhóm của bạn.
            </p>

            <h5>Bảo mật và bảo vệ dữ liệu</h5>
            <p>
                Tất cả các dữ liệu thu thập trong khuôn khổ nghiên cứu này sẽ chỉ được xử lý cho mục đích khoa học. 
                Các câu trả lời của bạn sẽ được giữ kín
                <b>hoàn toàn ẩn danh và được bảo mật.</b>. Không có thông tin nào cho phép nhận diện danh tính của bạn sẽ được thu thập hoặc gắn với các quyết định của bạn trong suốt quá trình thí nghiệm.
                Không có dữ liệu nào sẽ được chuyển ra ngoài Liên minh Châu Âu.
            </p>
            <p>
                Người phụ trách việc xử lý dữ liệu là Dimitri Dubois (CEE-M, CNRS, Đại học Montpellier, Pháp).
                Những người nhận dữ liệu là: Rustam Romaniuc (MBS, Montpellier Business School), Dimitri Dubois (CNRS, Đại học Montpellier) và Andrea Guido (PSB, Paris School of Business).
            </p>
            <p>
                Bạn có quyền truy cập, chỉnh sửa hoặc xóa dữ liệu của mình. Để thực hiện các quyền này, 
                bạn có thể liên hệ với Dimitri Dubois theo địa chỉ sau: dimitri.dubois@umontpellier.fr.
            </p>
            <p>
                Nghiên cứu này được tài trợ bởi Cơ quan Nghiên cứu Quốc gia Pháp (ANR), mã dự án ANR-21-CE26-0016. 
                Nếu bạn có bất kỳ câu hỏi nào liên quan đến nghiên cứu này, bạn có thể liên hệ với Rustam Romaniuc theo địa chỉ sau: r.romaniuc@mbs-education.com.
            </p>
        </article>
        {{ endif }}
    </div>
</div>

<div class="mb-3">
    <p>
        {{ if en }}
        Please confirm your consent to participate in this study by checking the box below:
        {{ elif fr }}
        Vui lòng xác nhận đồng ý tham gia cuộc thí nghiệm bằng cách đánh vào ô phía bên dưới :
        {{ endif }}
    </p>
    <p>
        <label>
            <input type="checkbox" id="consent" name="consent" onclick="enableNextButton()">
            {{ if en }}
            I have read and understood the information provided above. I voluntarily agree to participate in this
            study.
            {{ elif fr }}
            Tôi đã hiểu thông tin được cung cấp bên trên. Tôi hoàn toàn tự nguyện tham gia vào thí nghiệm này
            {{ endif }}
        </label>
    </p>
</div>

{{ next_button }}

<div class="row mt-5">
    <div class="col-1">
        <img src="{{ static 'whistleblowing_welcome/cnrs.png' }}" alt="Logo CNRS">
    </div>
    <div class="col-1">
        <img src="{{ static 'whistleblowing_welcome/mbs.jpg' }}" alt="Logo MBS">
    </div>
    <div class="col-1">
        <img src="{{ static 'whistleblowing_welcome/um.png' }}" alt="Logo UM">
    </div>
    <div class="col-1">
        <img src="{{ static 'whistleblowing_welcome/ceem.png' }}" alt="Logo CEE-M">
    </div>

</div>

{{ endblock }}

{{ block scripts }}
<script>
    const consentCheckbox = document.getElementById('consent');
    const nextButton = document.querySelector('.otree-btn-next');

    function enableNextButton() {
        nextButton.disabled = !consentCheckbox.checked;
    }

    function fill_auto() {
        consentCheckbox.checked = true;
        enableNextButton();
        setTimeout(() => {
            nextButton.click();
        }, 2000);
    }

    document.addEventListener('DOMContentLoaded', function () {
        nextButton.disabled = true;
        if (js_vars.fill_auto) {
            fill_auto();
        }
    });
</script>
{{ endblock }}
